<div class="container pt-4">
    <section class="mb-4">
        <div class="card">
            <div class="card-header py-3">
                <h5 class="mb-0 text-center"><strong>EDIT USER</strong></h5>
            </div>
        </div>
        <!-- <div class="card-footer d-flex mb-3 justify-content-center">
            <div class="btn-group">
                <a href="/admin/users/export-pdf" class="btn btn-secondary">PDF</a>
                <a href="/admin/users/export-excel" class="btn btn-secondary">EXCEL</a>
                <a href="/admin/users/export-csv" class="btn btn-secondary">CSV</a>
            </div>
        </div> -->
    </section>

    <div class="container">
        <form id="editUserForm" method="POST" action="/admin/users/update">
            <div class="row mb-4">
                <input type="text" id="" class="form-control" name="id" placeholder="ID" value="<%= user.id ? user.id: '' %>" hidden />
                <div class="col-md-6 col-sm-12">
                    <label for="">Name:</label>
                    <input type="text" id="" class="form-control" name="name" placeholder="Name" value="<%= user.name ? user.name: '' %>" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="">Username:</label>
                    <input type="text" id="" class="form-control" name="username" placeholder="Username" value="<%= user.username ? user.username: '' %>" />
                </div>
            </div>
            <div class="mb-4">
                <label for="">Email:</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="Email" value="<%= user.email ? user.email: '' %>" />
            </div>
            <div class="mb-4">
                <label for="selectRole">Role: </label>
                <select name="role" class="" id="selectRole">
                    <option value="1" <%=user.role===1? 'selected' :'' %>>1 - User</option>
                    <option value="2" <%=user.role===2? 'selected' :'' %>>2 - Admin</option>
                    <option value="3" <%=user.role===3? 'selected' :'' %>>3 - Manager</option>
                </select>
            </div>
            <div class="mb-4">
                <a href="/admin/users/change-password/<%= user.id %> ">Change password?</a>
            </div>
            <!-- Submit button -->
            <button type="button" class="btn btn-primary btn-block mb-4" id="submitBtn">UPDATE</button>
        </form>
    </div>
</div>