<div class="container pt-4">
    <section class="mb-4">
        <div class="card">
            <div class="card-header py-3">
                <h5 class="mb-0 text-center"><strong>USER LIST</strong></h5>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="text-center">
            <div class="row mb-3 justify-content-around">
                <div class="col-md-4">
                    <form id="importCsvForm">
                        <div class="input-group">
                            <input type="file" class="form-control" name="file" id="importCsvInput"> <!-- accept=".csv" -->
                            <button type="button" class="btn btn-outline-secondary" id="importCsvBtn">Import CSV</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-outline-secondary" id="exportCsvBtn">Export CSV</button>
                    <a hidden id="downloadTag"></a>
                </div>
            </div>

            <!-- start form -->
            <form action="/admin/users/search" method="get" id="searchForm">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-sm-12 mb-2">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Search name..." <%=queryBack.name? `value=${queryBack.name} ` :
                                `` %>>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-2">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Search username..." <%=queryBack.username?
                                `value=${queryBack.username} ` : `` %>>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-6 col-sm-12 mb-2">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Search email..." <%=queryBack.email? `value=${queryBack.email}
                                ` : `` %>>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="role" value="1" <%= queryBack.role? (queryBack.role.includes('1')? 'checked':''):'' %> />
                            <label class="form-check-label" for="inlineCheckbox1">1 - User</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="role" value="2" <%= queryBack.role? (queryBack.role.includes('2')? 'checked':''):'' %> />
                            <label class="form-check-label" for="inlineCheckbox2">2 - Admin</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="role" value="3" <%= queryBack.role? (queryBack.role.includes('3')? 'checked':''):'' %> />
                            <label class="form-check-label" for="inlineCheckbox3">3 - Manager</label>
                        </div>

                        <!-- <select name="role">
                                <option disabled value="null">Search role...</option>
                                <option value="1" <%=queryBack.role===1? 'selected' :'' %>>1 - User</option>
                                <option value="2" <%=queryBack.role===2? 'selected' :'' %>>2 - Admin</option>
                                <option value="3" <%=queryBack.role===3? 'selected' :'' %>>3 - Manager</option>
                            </select> -->
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-6 col-sm-12 mb-3">
                        <input class="form-control" type="date" name="createdDateFrom" id="createdDateFrom">
                    </div>
                    <div class="col-md-6 col-sm-12 mb-3">
                        <input class="form-control" type="date" name="createdDateTo" id="createdDateTo">
                    </div>
                </div>
                <div class="row mb-3 text-center">
                    <div class="col">
                        <button type="submit" class="btn btn-primary" id="searchBtn">
                            Search
                        </button>
                        <button type="button" class="btn btn-outline-danger" id="clearBtn">
                            Clear
                        </button>
                    </div>
                </div>
            </form>
            <!-- end form -->
            <div class="table-responsive">
                <table class="table" id="usersTable">
                    <thead class="table-light">
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Role Name</th>
                            <th>CreatedAt</th>
                            <th>CreatedBy</th>
                            <th>UpdatedAt</th>
                            <th>UpdatedBy</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/asset/js/site/user/list.js"></script>

<%- contentFor('pageTitle') %>
List